### Editor
/.ide/
/.idea/
/.phpstorm.meta.php/
*.code-workspace

### Dev
/vendor
/config
/assets/images
/.project
/.bundle
/node_modules
/*.cache
/*.lock
/*.css
/index.php
/package-lock.json

### Symfony
/var
/public/cache
/public/build
.env
